<!-- Header -->
<% include ../partials/header.ejs %>
<!-- Main Navigation -->
<% include ../partials/main_nav.ejs %>
<!-- Main content -->
<main class="container">
    <div class="rows">
    <div class="col-md-offset-3 col-md-10">
        <h1><%= title %></h1>
        <a href="blockchain-list/add" class="btn btn-primary" role="button">
        <i class="fas fa-circle"></i> Add Crypto</a>
        <br>
        <br>
    
    <!-- Table -->
    <table class="table table-bordered table-striped table-hover">
    <tr>
        <th class="text-center col-1">Name</th>
        <th class="text-center col-1">Created</th>
        <th class="text-center col-1">Popularity</th>
        <th class="text-center col-1">Total</th>
        <th class="text-center col-1">Price</th>
        <th class="text-center col-2"></th>
        <th class="text-center col-2"></th>
    </tr>

<!-- Repeat the template with loop! -->
<% for(let count=0; count<Blockchainlist.length; count++) {%>
<tr>
    <td class="text-center col-2"><%= Blockchainlist[count].name %></td>
    <td class="text-center col-2"><%= Blockchainlist[count].created %></td>
    <td class="text-center col-2"><%= Blockchainlist[count].popularity %></td>
    <td class="text-center col-2"><%= Blockchainlist[count].total %></td>
    <td class="text-center col-2"><%= Blockchainlist[count].price %></td>
    <td class="text-center col-3"><a href="/Blockchain/edit/<%= Blockchainlist[count].id %>"
    class="btn btn-primary">
    <i class="fas fa-pencil-alt"></i> Edit</a>
    </td>
    <td class="text-center col-3"><a href="/blockchain-list/delete/<%= Blockchainlist[count].id %>"
    class="btn btn-danger btn-sm">
    <i class="fas fa-trash-alt"></i> Delete</a>
    </td>
</tr>

<% } %>
   
    </table>
    <div>

</div>
<!-- mdbootstrap cards -->
<div class="container my-5">
  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <!-- Card -->
      <div
           class="bg-image card shadow-1-strong"
           style="
                  background-image: url('https://mdbootstrap.com/img/new/slides/003.jpg');
                  "
           >
        <div class="card-body text-white">
          <h5 class="card-title">Bitcoin</h5>
          <p class="card-text">
          The pristine cryptocurrency considered digital gold.
          </p>
          <a href="#!" class="btn btn-outline-light">Button</a>
        </div>
      </div>
      <!-- Card -->
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <!-- Card -->
      <div
           class="bg-image card shadow-1-strong"
           style="
                  background-image: url('https://mdbootstrap.com/img/new/slides/028.jpg');
                  "
           >
        <div class="card-body text-white">
          <h5 class="card-title">Etherium</h5>
          <p class="card-text">
            This is the top level one crypto currency.
          </p>
          <a href="#!" class="btn btn-outline-light">Button</a>
        </div>
      </div>
      <!-- Card -->
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <!-- Card -->
      <div
           class="bg-image card shadow-1-strong"
           style="
                  background-image: url('https://mdbootstrap.com/img/new/slides/033.jpg');
                  "
           >
        <div class="card-body text-white">
          <h5 class="card-title">Cardano</h5>
          <p class="card-text">
          Proof-of-Stake blockchain technology.
          </p>
          <a href="#!" class="btn btn-outline-light">Button</a>
        </div>
      </div>
      <br>
      <br>
      <!-- Card -->
    </div>
  </div>
</div>
</main>
<!-- Bottom Navigation -->
<%- include ../partials/bottom_nav.ejs %>
<!-- Footer -->
<%- include ../partials/footer.ejs %>